*{
    padding: 0px; 
    margin: 0px;
    box-sizing:border-box;
}
body{
    overflow: hidden;
}
.container{
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/images/background.png);
    background-size: cover;
    padding: 0 8%;

}
.logo{
    width: 120px;
    /* font-size: 20px; */
    padding: 20px 0;
    cursor: pointer;
}
.content{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
}
.content h1{
    font-size: 64px;
    font-weight: 500;
}
.content p{
    margin-top: 10px;
}
.content h1 span{
    color: #ff3753;
}
.content button{
    background: transparent;
    border: 1px solid white;
    padding: 12px 25px;
    outline: none;
    display: flex;
    align-items: center;
    margin-top: 30px; 
    cursor: pointer;   
}
.content button img{
    width: 15px;
    margin-left: 10px;
}
.lunch-time{
    display: flex;
}
.lunch-time div{
    flex-basis: 100px;
}
.lunch-time div p{
    font-size: 60px;
    margin-bottom: -14px;
}
.lunch-time div span{
    text-transform: capitalize;
}
.rocket{
    width: 250px;
    position: absolute;
    right: 10%;
    bottom: 0;
    
    animation: rocket 4s linear infinite;
}
@keyframes rocket{
    0%{
        bottom:0;
        opacity: 0;
    }
    100%{
        bottom: 105%;
        opacity: 1;
    }
}

.days {
    border: 8px;
    background-color: aquamarine;
    text-align: center;
    color: #000;
    margin-right: 10px;
}
.days  p{
    /* margin-top: 10px; */
    margin-bottom: 10px;
}
.hours {
    border: 8px;
    background-color: aquamarine;
    text-align: center;
    color: #000;
    margin-right: 10px;
}
.minutes  {
    border: 8px ;
    background-color: aquamarine ;
    text-align: center ; 
    color: #000;
    margin-right: 10px  ;
}
.seconds{
    border: 8px;
    background-color: aquamarine;
    text-align: center;
    color: #000;
    margin-right: 10px;
}


